.main
  position: relative
  padding: 120px 0 100px 0
  background: linear-gradient(to right, $primal 50%, $light 50%)
  overflow: hidden
  z-index: 1
  &::before
    position: absolute
    left: 0
    top: 175px
    content: ''
    width: 395px
    height: 557px
    background-image: url("../img/desk.png")
    background-size: cover
    background-repeat: no-repeat
    display: inline-block
  &::after
    position: absolute
    right: -30.3%
    top: 243px
    content: ''
    width: 849px
    height: 574px
    background-image: url("../img/bed.png")
    background-size: cover
    background-repeat: no-repeat
    display: inline-block
    overflow: hidden
    z-index: 2
  &-button
    padding: 16px 44px
    border-radius: 25px
    background-color: transparent
    border: 1px solid
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 17px
    text-align: center
    cursor: pointer
    transition: all 0.2s linear 0s
    outline: none
  &-wrapper
    display: grid
    justify-content: space-between
    grid-template-columns: 428px 450px
.cardio
  display: flex
  flex-direction: column
  align-items: flex-end
  transform: translate(13.5%, 2%)
  &__title
    margin: 0
    margin-bottom: 50px
    font-family: "TTHoves-Bold"
    font-style: normal
    font-weight: 800
    font-size: 28px
    line-height: 36px
    text-align: right
    text-transform: uppercase
    color: $light
  &__text
    margin: 0
    margin-bottom: 29px
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 17px
    text-align: right
    color: $light
    max-width: 215px
  &-list
    padding: 0
    margin: 0
    list-style-type: none
    margin-bottom: 83px
    &__item
      margin-bottom: 10px
    &__link
      text-decoration: none
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 17px
      text-align: right
      color: $light
      transition: all 0.1s linear 0s
      &::after
        content: ''
        width: 8px
        height: 8px
        background-image: url("../img/white-circle.svg")
        background-size: cover
        background-repeat: no-repeat
        display: inline-block
        margin-left: 12px
  &__button
    border: 1px solid $light
    color: $light
.trauma
  display: flex
  flex-direction: column
  align-items: flex-start
  transform: translate(-7.5%, 2%)
  &__title
    margin: 0
    margin-bottom: 52px
    font-family: "TTHoves-Bold"
    font-style: normal
    font-weight: 800
    font-size: 28px
    line-height: 36px
    text-align: left
    text-transform: uppercase
    color: $dark
  &__text
    margin: 0
    margin-bottom: 26px
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 17px
    text-align: left
    color: $dark
    max-width: 215px
  &-list
    padding: 0
    margin: 0
    list-style-type: none
    margin-bottom: 83px
    &__item
      margin-bottom: 10px
    &__link
      text-decoration: none
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 17px
      text-align: left
      color: $dark
      transition: all 0.1s linear 0s
      &::before
        content: ''
        width: 8px
        height: 8px
        background-image: url("../img/dark-circle.svg")
        background-size: cover
        background-repeat: no-repeat
        display: inline-block
        margin-right: 10px
  &__button
    border: 1px solid $dark
    color: $dark
.contact
  &-links
    position: relative
    max-width: 400px
    margin: auto
    margin-right: 0
    display: flex
    z-index: 5
    transform: translate(55px, 60px)
  &-link
    position: absolute
    width: 60px
    height: 60px
    border-radius: 50%
    transition: all 0.2s linear 0s
    margin-left: 10px
    transform: translate(-50%, -50%)
    z-index: 10
    &--purple
      left: 0
      background-color: rgba(195, 58, 124, 0.5)
    &--dark
      left: 70px
      background-color: rgba(50, 73, 94, 0.5)
    &--blue
      left: 140px
      background-color: rgba(69, 152, 255, 0.5)
    &--green
      left: 210px
      background-color: rgba(20, 172, 81, 0.5)
    &--orange
      left: 280px
      background-color: rgba(233, 82, 88, 0.5)
    &__image
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-51%, -50%)
      &--green
        transform: translate(-50%, -51%)
      &--orange
        transform: translate(-51.5%, -51%)
